@if (display()) {
  <a
    class="button left"
    title="Dislike"
    (click)="dislike()"
    @dislikeButtonTrigger
    >
    <i class="bx bxs-dislike"></i>
  </a>
}
@if (display()) {
  <a
    class="button right"
    title="Like"
    [ngClass]="{ gold: image().includes('Picture2.jpg') }"
    (click)="like()"
    @likeButtonTrigger
    >
    <i class="bx bxs-like"></i>
  </a>
}
<div class="picture-container">
  <img [src]="image()" [alt]="image()" />
</div>

@if (activeMatchAnimation) {
  <div class="match-animation">
    <div class="flex" @textMatchTrigger>
      <span>It's a Match !</span>
      <i class="bx bxs-flame"></i>
    </div>
  </div>
}
