<header>
    <div class="title-section">
        <i *ngIf="title === 'Select'" class="bx bx-search"></i>
        <i *ngIf="title === 'Profile'" class="bx bxs-user"></i>
        <i *ngIf="title === 'Like'" class="bx bxs-like"></i>
        <i *ngIf="title === 'Match'" class="bx bxs-flame"></i>
        <i *ngIf="title === 'Admin'" class="bx bxs-key"></i>
        <i *ngIf="title === 'More Info'" class="bx bxs-info-circle"></i>
        <span>{{title}}</span>
    </div>
    <app-nav></app-nav>
</header>