.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 700px;
  background: var(--glass-background);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .search {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.container .search input {
  background: transparent;
  backdrop-filter: blur(2px);
  width: 200px;
  border: 0;
  padding: 20px 40px;
  outline: none;
  border-radius: 10px;
  color: var(--primary);
  font-size: 15px;
  font-weight: 600;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

form textarea {
  background: transparent;
  backdrop-filter: blur(2px);
  margin: 16px 0;
  border: 0;
  padding: 20px 40px;
  outline: none;
  border-radius: 10px;
  color: var(--primary);
  font-size: 15px;
  font-weight: 600;
  width: 80%;
  resize: none;
  text-align: justify;
}

::placeholder {
  color: var(--primary);
  font-size: 15px;
  font-weight: 600;
}

.container .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 500px;
  overflow: scroll;
  margin-bottom: 10px;
}

.container .content.nothing {
  margin: 20px;
}

.container .content.nothing span {
  font-size: 15px;
  font-weight: 600;
}

.container .title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.container a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--primary);
  backdrop-filter: blur(2px);
  padding: 10px;
  margin: 5px;
  transition: 0.5s ease;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}

.container a::before {
  content: "";
  position: absolute;
  background-color: var(--primary);
  height: 0%;
  top: 0;
  right: 0;
  width: 100%;
  transition: 0.5s ease;
  z-index: -1;
}

.container a:hover::before {
  height: 100%;
}

.container a:hover {
  color: var(--secondary);
}

.container a i {
  font-size: 30px;
}

app-message.left {
  margin-right: 40px;
}

app-message.right {
  margin-left: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form .button-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary);
  padding: 15px 30px;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s ease;
  backdrop-filter: blur(2px);
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

form .button-container button::before {
  content: "";
  position: absolute;
  background-color: var(--primary);
  height: 0%;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s ease;
  z-index: -1;
}

form .button-container button:hover::before {
  height: 100%;
  border-radius: 10px;
}

form .button-container button:hover {
  color: var(--secondary);
}
