.main-container {
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: calc(100vh - 110px);
}

.container {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 250px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.22);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
}

.container .content {
    width: 100%;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
}

.card.selected-user {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.container .content .card:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.card .picture-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
}

.card .picture-container img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.card .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.card h2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
}