<app-header [title]="'Match'"></app-header>
<div class="main-container">
    <div class="container">
        <div class="content" *ngFor="let user of users">
            <a class="card" title="send message" (click)="viewMessage(user)">
                <div class="picture-container">
                    <img [src]="user.mainPicture" [alt]="user.nickname">
                </div>
                <div class="text">
                    <h2>{{user.nickname}}</h2>
                </div>
            </a>
        </div>
    </div>
    <app-message *ngIf="selectedUser" [user]="selectedUser"></app-message>
</div>