<div class="container">
  <div class="content">
    @if (currentIndex === 0) {
      <app-profile-demo
        [userGender]="userGender"
      ></app-profile-demo>
    }
    @if (currentIndex === 1) {
      <app-select-demo
        [userGenderSearch]="userGenderSearch"
      ></app-select-demo>
    }
    @if (currentIndex === 2) {
      <app-match-demo
        [userGenderSearch]="userGenderSearch"
      ></app-match-demo>
    }
    @if (currentIndex === 3) {
      <app-start-demo></app-start-demo>
    }
  </div>
  <app-paginator-demo
    [currentIndex]="currentIndex"
    [listLength]="demos.length"
    (previousEvent)="previous()"
    (nextEvent)="next()"
  ></app-paginator-demo>
</div>
