form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form textarea {
  background: transparent;
  backdrop-filter: blur(2px);
  width: 200px;
  margin: 16px 0;
  border: 0;
  padding: 20px 40px;
  outline: none;
  border-radius: 10px;
  color: var(--primary);
  font-size: 15px;
  font-weight: 600;
  width: 80%;
  resize: none;
  min-height: 150px;
  text-align: justify;
}

::placeholder {
  color: var(--primary);
  font-size: 15px;
  font-weight: 600;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form .button-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary);
  padding: 15px 30px;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s ease;
  backdrop-filter: blur(2px);
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

form .button-container button::before {
  content: "";
  position: absolute;
  background-color: var(--primary);
  height: 0%;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s ease;
  z-index: -1;
}

form .button-container button:hover::before {
  height: 100%;
  border-radius: 10px;
}

form .button-container button:hover {
  color: var(--secondary);
}
