<div
  class="container"
  *ngIf="!(page === 0 && usersNumber < maxPerPage) && !loading"
>
  <a
    [title]="page === 0 ? '' : 'Previous'"
    (click)="previous()"
    [ngClass]="{ disabled: page === 0 }"
  >
    <i class="bx bx-left-arrow-alt"></i>
  </a>
  <span *ngIf="maxPages === 100"
    >Page : {{ page + 1 }} ({{ usersNumber }})</span
  >
  <span *ngIf="maxPages !== 100"
    >Page : {{ page + 1 }} / {{ maxPages }} ({{ usersNumber }})</span
  >
  <a
    [title]="usersNumber < maxPerPage ? '' : 'Next'"
    (click)="next()"
    [ngClass]="{ disabled: usersNumber < maxPerPage || page + 1 === maxPages }"
  >
    <i class="bx bx-right-arrow-alt"></i>
  </a>
</div>
