<form [formGroup]="passwordForm" (ngSubmit)="updateConnectionInfos()">
  <mat-form-field color="accent">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
      required
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      type="button"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    @if (passwordForm.get('password')!.hasError('required')) {
    <mat-error>Password is required</mat-error>
    } @else if (passwordForm.get('password')!.hasError('minlength')) {
    <mat-error>Password is too short</mat-error>
    } @else if (passwordForm.get('password')!.hasError('maxlength')) {
    <mat-error>Password is too long</mat-error>
    }
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>Password Confirmation</mat-label>
    <input
      matInput
      [type]="hideDuplicate ? 'password' : 'text'"
      formControlName="passwordDuplicate"
      required
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hideDuplicate = !hideDuplicate"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideDuplicate"
      type="button"
    >
      <mat-icon>{{ hideDuplicate ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    @if (passwordForm.get('passwordDuplicate')!.hasError('required')) {
    <mat-error>Password is required</mat-error>
    } @else if (passwordForm.get('passwordDuplicate')!.hasError('minlength')) {
    <mat-error>Password is too short</mat-error>
    } @else if (passwordForm.get('passwordDuplicate')!.hasError('maxlength')) {
    <mat-error>Password is too long</mat-error>
    } @else if
    (passwordForm.get('passwordDuplicate')!.hasError('passwordMismatch')) {
    <mat-error>Passwords don't match</mat-error>
    }
  </mat-form-field>
  <div class="button-container">
    <button
      *ngIf="passwordForm.dirty"
      type="button"
      title="Cancel"
      (click)="cancel()"
    >
      Cancel
    </button>
    <button
      title="Update"
      *ngIf="
        passwordForm.valid &&
        passwordForm.get('password')?.value ===
          passwordForm.get('passwordDuplicate')?.value &&
        passwordForm.dirty
      "
      type="submit"
    >
      Update
    </button>
  </div>
</form>
