<form [formGroup]="passwordForm" (ngSubmit)="updateConnectionInfos()">
  <div class="input-container">
    <span class="title">Password</span>
    <input type="password" placeholder="Password" formControlName="password" />
    <span
      *ngIf="
        passwordForm.get('password')!.hasError('required') &&
        passwordForm.get('password')!.touched
      "
      >Password is required</span
    >
    <span *ngIf="passwordForm.get('password')!.hasError('minlength')"
      >Password is too short</span
    >
    <span *ngIf="passwordForm.get('password')!.hasError('maxlength')"
      >Password is too long</span
    >
  </div>
  <div class="input-container">
    <span class="title">Password Confirmation</span>
    <input
      type="password"
      placeholder="Password Confirmation"
      formControlName="passwordDuplicate"
    />
    <span
      *ngIf="
        passwordForm.get('passwordDuplicate')!.hasError('required') &&
        passwordForm.get('passwordDuplicate')!.touched
      "
      >Password is required</span
    >
    <span *ngIf="passwordForm.get('passwordDuplicate')!.hasError('minlength')"
      >Password is too short</span
    >
    <span *ngIf="passwordForm.get('passwordDuplicate')!.hasError('maxlength')"
      >Password is too long</span
    >
    <span
      *ngIf="
        passwordForm.get('password')!.valid &&
        passwordForm.get('passwordDuplicate')!.valid &&
        passwordForm.get('password')?.value !==
          passwordForm.get('passwordDuplicate')?.value
      "
      >Passwords don't match</span
    >
  </div>
  <div class="button-container">
    <button
      *ngIf="passwordForm.dirty"
      type="button"
      title="Cancel"
      (click)="cancel()"
    >
      Cancel
    </button>
    <button
      title="Update"
      *ngIf="
        passwordForm.valid &&
        passwordForm.get('password')?.value ===
          passwordForm.get('passwordDuplicate')?.value &&
        passwordForm.dirty
      "
      type="submit"
    >
      Update
    </button>
  </div>
</form>
