:host {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

swiper-container {
  width: 80%;
  height: 500px;
  max-width: 700px;
  border-radius: 20px;
}

swiper-slide {
  width: 100%;
  border-radius: 20px;
  cursor: grab;
}
