<a
  class="button left"
  title="Dislike"
  (click)="dislike()"
  @dislikeButtonTrigger
  *ngIf="display"
>
  <i class="bx bxs-dislike"></i>
</a>
<a
  class="button right"
  title="Like"
  [ngClass]="{ gold: user.gold }"
  (click)="like()"
  @likeButtonTrigger
  *ngIf="display"
>
  <i class="bx bxs-like"></i>
</a>
<div class="picture-container">
  <img
    *ngIf="user.pictures && user.pictures.length !== 0"
    [src]="user.pictures[0].content"
    [alt]="user.nickname"
  />
  <img
    *ngIf="!user.pictures || user.pictures.length === 0"
    [src]="imagePath + 'No-Image.png'"
    [alt]="user.nickname"
  />
</div>
<div
  class="text-container"
  title="More Info"
  (click)="moreInfo()"
  @textTrigger
  *ngIf="display"
>
  <div class="flex">
    <div class="left">
      <h2>{{ user.nickname }}</h2>
      <h3>{{ user.job }}</h3>
    </div>
    <div class="right">
      <h2 class="age">{{ user.birthDate | age }}</h2>
      <h3>
        {{ user.geolocation.city }} ({{
          user.geolocation.distance +
            (user.geolocation.distance === 1 || user.geolocation.distance === 0
              ? " km"
              : " kms")
        }})
      </h3>
    </div>
  </div>
  <span class="description">
    {{ user.description | description : 150 }}
  </span>
</div>

<div class="match-animation" *ngIf="activeMatchAnimation">
  <div class="flex" @textMatchTrigger>
    <span>It's a Match !</span>
    <i class="bx bxs-flame"></i>
  </div>
  <a class="button" title="View Match" @buttonMatchTrigger (click)="viewMatch()"
    >View Match</a
  >
</div>
