.container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--background);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  height: 700px;
  overflow-y: scroll;
}

.button {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--primary);
  backdrop-filter: blur(2px);
  padding: 10px;
  transition: 0.5s ease;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--primary);
  height: 0%;
  top: 0;
  right: 0;
  width: 100%;
  transition: 0.5s ease;
  z-index: -1;
}

.button:hover::before {
  height: 100%;
}

.button:hover {
  color: var(--secondary);
}

.button.left {
  left: 0;
  border-radius: 10px 0 10px 0;
}

.button.right {
  right: 0;
  border-radius: 0 10px 0 10px;
}

.button.right:hover::before {
  border-radius: 0 10px 0 10px;
}

.button.left:hover::before {
  border-radius: 10px 0 10px 0;
}

.button i {
  font-size: 35px;
}

.button.right.gold {
  background-color: var(--liked);
  color: var(--secondary);
}

.button.right.gold:hover {
  color: var(--liked);
}

.close-button {
  text-decoration: none;
  color: var(--primary);
  backdrop-filter: blur(2px);
  padding: 0 30px;
  margin: 10px;
  transition: 0.5s ease;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  transition: 0.5s ease;
  backdrop-filter: blur(2px);
  font-size: 14px;
  font-family: Roboto, sans-serif;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button::before {
  content: "";
  position: absolute;
  background-color: var(--primary);
  height: 0%;
  top: 0;
  right: 0;
  width: 100%;
  transition: 0.5s ease;
  z-index: -1;
}

.close-button:hover::before {
  height: 100%;
}

.close-button:hover {
  color: var(--secondary);
}

.container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.container .title .larger {
  font-size: 28px;
  font-weight: 800;
  color: var(--primary);
  margin-bottom: 20px;
}

.container .title .subtitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary);
  text-align: center;
}

.container .picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

.container .picture-container img {
  background-color: var(--primary);
  width: 100%;
  max-width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.container .main-infos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.container .main-infos-container span {
  text-align: justify;
  font-size: 17px;
  font-weight: 500;
}

::ng-deep .container .mdc-evolution-chip-set__chips {
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  --mdc-chip-elevated-container-color: var(--primary);
}

swiper-container {
  position: absolute;
  width: 100%;
  max-width: 450px;
  height: 450px;
  border-radius: 20px;
}

swiper-slide {
  width: 100%;
  border-radius: 20px;
}

@media screen and (min-width: 440px) {
  .picture-container {
    min-height: 450px;
  }
}

@media screen and (max-width: 540px) {
  swiper-container {
    max-width: 380px;
    height: 380px;
  }

  .container .picture-container img {
    max-width: 380px;
    height: 380px;
  }
}

@media screen and (max-width: 440px) {
  .picture-container {
    min-height: 330px;
  }

  swiper-container {
    max-width: 330px;
    height: 330px;
  }

  .container .picture-container img {
    max-width: 330px;
    height: 330px;
  }
}

@media screen and (max-width: 380px) {
  .picture-container {
    min-height: 280px;
  }

  swiper-container {
    max-width: 280px;
    height: 280px;
  }

  .container .picture-container img {
    max-width: 280px;
    height: 280px;
  }
}
