<form [formGroup]="mainInfosForm" (ngSubmit)="updateMainInfos()">
  <mat-form-field color="accent">
    <mat-label>Nickname</mat-label>
    <input matInput formControlName="nickname" required />
    @if (mainInfosForm.get('nickname')!.hasError('required')) {
      <mat-error>Nickname is required</mat-error>
    } @else if (mainInfosForm.get('nickname')!.hasError('minlength')) {
      <mat-error>Nickname is too short</mat-error>
    } @else if (mainInfosForm.get('nickname')!.hasError('maxlength')) {
      <mat-error>Nickname is too long</mat-error>
    }
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>Job</mat-label>
    <input matInput formControlName="job" required />
    @if (mainInfosForm.get('job')!.hasError('required')) {
      <mat-error>Job is required</mat-error>
    } @else if (mainInfosForm.get('job')!.hasError('minlength')) {
      <mat-error>Job is too short</mat-error>
    } @else if (mainInfosForm.get('job')!.hasError('maxlength')) {
      <mat-error>Job is too long</mat-error>
    }
  </mat-form-field>
  <div class="slide-container">
    <span>Max Distance</span>
    <mat-slider min="10" max="500" discrete step="10">
      <input matSliderThumb formControlName="distanceSearch" />
    </mat-slider>
  </div>
  <div class="slide-container">
    <span>Height</span>
    <mat-slider min="140" max="220" discrete>
      <input matSliderThumb formControlName="height" />
    </mat-slider>
  </div>
  <div class="button-container">
    @if (mainInfosForm.dirty) {
      <button
        type="button"
        title="Cancel"
        (click)="cancel()"
        >
        Cancel
      </button>
    }
    @if (mainInfosForm.valid && mainInfosForm.dirty) {
      <button
        title="Update"
        type="submit"
        >
        Update
      </button>
    }
  </div>
</form>
