<div
  class="menu-button"
  title="Menu"
  *ngIf="connectService.connectedUser"
  [ngClass]="{ gold: getUnseenNotificationsLenght() !== 0 && !isMenuActive }"
>
  <span
    *ngIf="
      getUnseenNotificationsLenght() !== 0 &&
      !isNotificationsActive &&
      !isMenuActive
    "
    >{{ getUnseenNotificationsLenght() }}</span
  >
  <i class="bx bx-menu" (click)="toggleMenu()" *ngIf="!isMenuActive"></i>
  <i class="bx bx-x" (click)="toggleMenu()" *ngIf="isMenuActive"></i>
</div>
<div
  class="menu-button notification"
  title="Notifications"
  *ngIf="connectService.connectedUser && isMenuActive"
  [ngClass]="{ gold: getUnseenNotificationsLenght() !== 0 }"
  @notificationLogoTrigger
>
  <span
    *ngIf="getUnseenNotificationsLenght() !== 0 && !isNotificationsActive"
    >{{ getUnseenNotificationsLenght() }}</span
  >
  <i
    class="bx bxs-bell"
    (click)="toggleNotifications()"
    *ngIf="!isNotificationsActive"
  ></i>
  <i
    class="bx bx-arrow-back"
    (click)="toggleNotifications()"
    *ngIf="isNotificationsActive"
  ></i>
</div>
<div class="container" @menuTrigger *ngIf="isMenuActive">
  <app-nav-buttons
    *ngIf="!isNotificationsActive"
    [hasAdminRole]="connectService.connectedUser?.userRole === 'ROLE_ADMIN'"
    (toggleMenuEvent)="toggleMenu()"
    (logoutEvent)="logout()"
    @navButtonTrigger
  ></app-nav-buttons>
  <app-notifications
    *ngIf="isNotificationsActive"
    [notifications]="notifications"
    (goToEvent)="goTo($event)"
    @notificationTrigger
  ></app-notifications>
</div>
