<div class="menu-button" title="Menu" *ngIf="connectService.connectedUser">
  <i class="bx bx-menu" (click)="toggleMenu()" *ngIf="!isMenuActive"></i>
  <i class="bx bx-x" (click)="toggleMenu()" *ngIf="isMenuActive"></i>
</div>
<div
  class="menu-button notification"
  title="Notifications"
  *ngIf="connectService.connectedUser && isMenuActive"
  [ngClass]="getUnseenNotificationsLenght() !== 0 ? 'gold' : ''"
  @notificationTrigger
>
  <span *ngIf="getUnseenNotificationsLenght() !== 0">{{
    getUnseenNotificationsLenght()
  }}</span>
  <i class="bx bxs-bell" (click)="openNotifications()"></i>
</div>
<div class="container" @menuTrigger *ngIf="isMenuActive">
  <app-nav-buttons
    [hasAdminRole]="connectService.connectedUser?.userRole === 'ROLE_ADMIN'"
    (toggleMenuEvent)="toggleMenu()"
    (logoutEvent)="logout()"
  ></app-nav-buttons>
</div>
