.menu-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  background-color: var(--glass-background);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  z-index: 15;
  color: var(--primary);
  transition: 0.5s ease;
  cursor: pointer;
  overflow: hidden;
}

.menu-button i {
  font-size: 40px;
  color: var(--primary);
  transition: 0.5s ease;
}

.menu-button:hover {
  color: var(--secondary);
}

.menu-button::before {
  content: "";
  position: absolute;
  background-color: var(--primary);
  height: 0%;
  top: 0;
  right: 0;
  width: 100%;
  transition: 0.5s ease;
  z-index: -1;
}

.menu-button:hover::before {
  height: 100%;
  border-radius: 10px;
}

.menu-button.notification {
  right: calc(60% - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
}

.menu-button.gold {
  background-color: var(--liked);
}

.menu-button.notification i {
  font-size: 35px;
  color: var(--primary);
  transition: 0.5s ease;
}

.menu-button.gold i {
  color: var(--secondary);
  transition: 0.5s ease;
}

.menu-button:hover i {
  color: var(--secondary);
}

.menu-button.gold:hover i {
  color: var(--liked);
}

.menu-button span {
  position: absolute;
  top: 0;
  right: 2px;
  color: var(--secondary);
  font-size: 18px;
  font-weight: 700;
  transition: 0.5s ease;
}

.menu-button:hover span {
  color: var(--liked);
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  border-radius: 20px 0 0 20px;
  background-color: var(--glass-background);
  backdrop-filter: blur(2px);
  overflow: hidden;
}

.container > * {
  position: absolute;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .container {
    width: 50%;
  }

  .menu-button.notification {
    right: calc(50% - 55px);
  }
}

@media screen and (min-width: 800px) {
  .container {
    width: 40%;
  }

  .menu-button.notification {
    right: calc(40% - 55px);
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 30%;
  }

  .menu-button.notification {
    right: calc(30% - 55px);
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 70%;
  }

  .menu-button.notification {
    right: calc(70% - 55px);
  }
}
