<div class="container">
  <div class="btn-container">
    <a
      (click)="toggleLoginOrRegister('register')"
      title="Register"
      [ngClass]="isRegistering ? 'active' : 'unactive'"
      >Register</a
      >
      <a
        (click)="toggleLoginOrRegister('login')"
        title="Login"
        [ngClass]="!isRegistering ? 'active' : 'unactive'"
        >Login</a
        >
      </div>
      <div class="content">
        @if (!isRegistering) {
          <app-login></app-login>
        }
        @if (isRegistering) {
          <app-register></app-register>
        }
      </div>
    </div>
