<div class="container">
  <div class="btn-container">
    <a
      (click)="toggleLoginOrRegister('register')"
      title="Register"
      [ngClass]="isRegistering ? 'active' : 'unactive'"
      >Register</a
    >
    <a
      (click)="toggleLoginOrRegister('login')"
      title="Login"
      [ngClass]="!isRegistering ? 'active' : 'unactive'"
      >Login</a
    >
  </div>
  <div class="content">
    <app-login *ngIf="!isRegistering"></app-login>
    <app-register *ngIf="isRegistering"></app-register>
  </div>
</div>
