form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  animation: none;
}

form.invalidLogin {
  animation-name: invalidLogin;
  animation-duration: 0.1s;
  animation-direction: alternate;
  animation-iteration-count: 8;
}

@keyframes invalidLogin {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(5px);
  }
}

form span {
  color: red;
  font-size: 14px;
  font-weight: 600;
}

input {
  background-color: var(--glass-background);
  backdrop-filter: blur(2px);
  width: 200px;
  margin: 16px 0;
  border: 0;
  padding: 20px 40px;
  outline: none;
  border-radius: 10px;
  color: var(--primary);
  font-size: 15px;
  font-weight: 600;
}

::placeholder {
  color: var(--primary);
  font-size: 15px;
  font-weight: 600;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form .button-container button {
  border: none;
  background-color: var(--glass-background);
  cursor: pointer;
  text-decoration: none;
  color: var(--primary);
  padding: 15px 30px;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s ease;
  backdrop-filter: blur(2px);
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

form .button-container button::before {
  content: "";
  position: absolute;
  background-color: var(--liked);
  height: 0%;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s ease;
  z-index: -1;
}

form .button-container button:hover::before {
  height: 100%;
  border-radius: 10px;
}

form .button-container button:hover {
  color: var(--secondary);
}

@media screen and (max-width: 375px) {
  form input {
    width: 160px;
  }
}
