<form
  [ngClass]="invalidLogin ? 'invalidLogin' : null"
  [formGroup]="loginForm"
  (ngSubmit)="loginUser(loginForm.value)"
>
  <input placeholder="Email" formControlName="email" />
  <span
    *ngIf="
      loginForm.get('email')!.hasError('required') &&
      loginForm.get('email')!.touched
    "
    >Email is required</span
  >
  <span *ngIf="loginForm.get('email')!.hasError('email')"
    >Email is invalid</span
  >
  <span *ngIf="loginForm.get('email')!.hasError('maxlength')"
    >Email is too long</span
  >
  <input type="password" placeholder="Password" formControlName="password" />
  <span
    *ngIf="
      loginForm.get('password')!.hasError('required') &&
      loginForm.get('password')!.touched
    "
    >Password is required</span
  >
  <span *ngIf="loginForm.get('password')!.hasError('minlength')"
    >Password is too short</span
  >
  <span *ngIf="loginForm.get('password')!.hasError('maxlength')"
    >Password is too long</span
  >
  <span *ngIf="invalidLogin">Wrong Email or Password</span>
  <div class="button-container">
    <button title="Let's Go" *ngIf="loginForm.valid" type="submit">
      Let's Go
    </button>
  </div>
</form>
