.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  backdrop-filter: blur(2px);
  background-color: var(--glass-background);
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
}

.container:not(.left):not(.deleted) {
  cursor: pointer;
  transition: 0.5s ease;
}

.container:not(.left):not(.deleted)::before {
  content: "";
  position: absolute;
  background-color: var(--primary);
  height: 0%;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s ease;
  z-index: -1;
}

.container:not(.left):not(.deleted):hover::before {
  height: 100%;
  border-radius: 10px;
}

.container:not(.left):not(.deleted):hover {
  color: var(--secondary);
}

.container.left {
  background-color: var(--liked);
  color: var(--secondary);
}

.container.left .date {
  width: 95%;
  text-align: left;
  font-style: italic;
  font-weight: 500;
}

.container.left .content {
  width: 95%;
  text-align: justify;
  font-size: 15px;
  font-weight: 700;
}

.container.right {
  background-color: var(--glass-background);
  color: var(--primary);
}

.container.right .date {
  width: 95%;
  text-align: right;
  font-style: italic;
  font-weight: 500;
}

.container.right .content {
  width: 95%;
  text-align: justify;
  font-size: 15px;
  font-weight: 700;
}

.container.deleted .content {
  font-style: italic;
  color: rgb(169, 169, 169);
}

@media screen and (max-width: 400px) {
  .container {
    width: 300px;
  }
}

@media screen and (max-width: 350px) {
  .container {
    width: 250px;
  }
}
