<div class="container">
    <div class="content">
        <div class="header">
            <div class="picture-container">
                <img [src]="selectedUser.mainPicture" [alt]="selectedUser.nickname">
            </div>
            <div class="text">
                <h2>{{selectedUser.nickname}}</h2>
            </div>
            <a class="more" title="more info" (click)="moreInfo(selectedUser.id)">More Info</a>
            <a class="dislike" title="dislike" (click)="dislike(selectedUser)"><i class='bx bxs-dislike'></i></a>
        </div>
        <div class="messages-container">
            <div class="message" *ngFor="let message of messages">
                <div *ngIf="message.sender !== loggedInUser.nickname" class="inner-message-container left">
                    <div class="inner-message">
                        <div class="header-message">
                            <span>{{message.sender}}</span>
                            <span *ngIf="isToday(message)">{{message.date | date:"shortTime"}}</span>
                            <span *ngIf="!isToday(message)">{{message.date | date:"shortDate"}}</span>
                        </div>
                        <span class="message-content">{{message?.content}}</span>
                    </div>
                </div>
                <div *ngIf="message.sender === loggedInUser.nickname" class="inner-message-container right">
                    <div class="inner-message">
                        <div class="header-message">
                            <span>{{message.sender}}</span>
                            <span *ngIf="isToday(message)">{{message.date | date:"shortTime"}}</span>
                            <span *ngIf="!isToday(message)">{{message.date | date:"shortDate"}}</span>
                        </div>
                        <span class="message-content">{{message?.content}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>