<div class="container">
  <div class="btn-container">
    <a
      (click)="toggleUserOrDeleted('user')"
      [title]="!isUserMode ? 'View Users' : ''"
      [ngClass]="isUserMode ? 'active' : 'unactive'"
      >
      <span class="main">{{ adminStats?.totalUsers }} Users</span>
      @if (adminStats && adminStats.totalRecentUsers > 0) {
        <span
          >(+{{ adminStats.totalRecentUsers }} this week)</span
          >
        }
      </a>
      <a
        (click)="toggleUserOrDeleted('deleted')"
        [title]="isUserMode ? 'View Deleted Users' : ''"
        [ngClass]="!isUserMode ? 'active' : 'unactive'"
        >
        <span class="main">{{ adminStats?.totalDeletedAccounts }} Deleted</span>
        @if (adminStats && adminStats.totalRecentDeletedAccounts > 0) {
          <span
            >(+{{ adminStats.totalRecentDeletedAccounts }} this week)</span
            >
          }
        </a>
      </div>
      <form [formGroup]="adminForm">
        <mat-form-field color="accent">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" (focusout)="focusOut(0)" />
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-label>Order By</mat-label>
          <mat-select formControlName="orderBy" (ngModelChange)="search(0)">
            <mat-option value="" selected>Date</mat-option>
            <mat-option value="totalDislikes">Dislikes</mat-option>
            <mat-option value="totalLikes">Likes</mat-option>
            <mat-option value="totalMatches">Matches</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      @if (searched) {
        <app-paginator
          #paginator
          (handlePageEvent)="handlePageEvent($event)"
          [loading]="loading"
          [usersNumber]="isUserMode ? users.length : deletedAccounts.length"
          [maxPerPage]="5"
          >
        </app-paginator>
      }
      @if (users && users.length !== 0 && !loading && isUserMode) {
        <div
          class="content"
          >
          @for (user of users; track user) {
            <app-user-card
              [user]="user"
              (deleteEvent)="deleteUser(user)"
            ></app-user-card>
          }
        </div>
      }
      @if (
        deletedAccounts && deletedAccounts.length !== 0 && !loading && !isUserMode
        ) {
        <div
          class="content"
          >
          @for (deletedAccount of deletedAccounts; track deletedAccount) {
            <app-deleted-account-card
              [deletedAccount]="deletedAccount"
            ></app-deleted-account-card>
          }
        </div>
      }
      @if (loading) {
        <div class="content loading">
          <app-loading></app-loading>
        </div>
      }
      @if ((!users || users.length === 0) && !loading && searched && isUserMode) {
        <div
          class="content nothing"
          >
          <span>No user</span>
        </div>
      }
      @if (
        (!deletedAccounts || deletedAccounts.length === 0) &&
        !loading &&
        searched &&
        !isUserMode
        ) {
        <div
          class="content nothing"
          >
          <span>No deleted account</span>
        </div>
      }
    </div>
