<div class="container">
  <form [formGroup]="adminForm" (ngSubmit)="search(0)">
    <div class="input-container">
      <span class="title">Nickname</span>
      <input placeholder="Nickname" formControlName="nickname" />
    </div>
    <div class="input-container">
      <span class="title">Gender</span>
      <select formControlName="genders">
        <option value="" disabled selected hidden>Gender</option>
        <option [value]="gender" *ngFor="let gender of genders">
          {{ gender }}
        </option>
      </select>
    </div>
    <div class="slide-container">
      <span>Age</span>
      <mat-slider min="18" max="80" discrete>
        <input matSliderStartThumb formControlName="minAge" />
        <input matSliderEndThumb formControlName="maxAge" />
      </mat-slider>
    </div>
    <div class="slide-container">
      <span>Max Distance</span>
      <mat-slider min="10" max="500" discrete step="10">
        <input matSliderThumb formControlName="distance" />
      </mat-slider>
      <mat-checkbox formControlName="moreDistance">+ 500 kms</mat-checkbox>
    </div>
    <div class="button-container">
      <button title="Search" type="submit">Search</button>
    </div>
  </form>
  <app-paginator
    #paginator
    *ngIf="searched"
    (handlePageEvent)="handlePageEvent($event)"
    [loading]="loading"
    [usersNumber]="users.length"
    [maxPerPage]="25"
  >
  </app-paginator>
  <div class="content" *ngIf="users && users.length !== 0 && !loading">
    <app-admin-card
      *ngFor="let user of users"
      [user]="user"
      (deleteEvent)="deleteUser(user)"
    ></app-admin-card>
  </div>
  <div class="content loading" *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div
    class="content nothing"
    *ngIf="(!users || users.length === 0) && !loading && searched"
  >
    <span>No user</span>
  </div>
</div>
