.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 700px;
  background: var(--glass-background);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .search {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.container .search input {
  background: transparent;
  backdrop-filter: blur(2px);
  width: 200px;
  border: 0;
  padding: 20px 40px;
  outline: none;
  border-radius: 10px;
  color: var(--primary);
  font-size: 15px;
  font-weight: 600;
}

::placeholder {
  color: var(--primary);
  font-size: 15px;
  font-weight: 600;
}

.container .search .sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin: 15px;
}

.container .search .sort a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--primary);
  backdrop-filter: blur(2px);
  padding: 10px;
  transition: 0.5s ease;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}

.container .search .sort a.active {
  background-color: var(--primary);
  color: var(--secondary);
  cursor: default;
}

.container .search .sort a::before {
  content: "";
  position: absolute;
  background-color: var(--primary);
  height: 0%;
  top: 0;
  right: 0;
  width: 100%;
  transition: 0.5s ease;
  z-index: -1;
}

.container .search .sort a:hover::before {
  height: 100%;
}

.container .search .sort a:hover {
  color: var(--secondary);
}

.container .search .sort a i {
  font-size: 30px;
}

.container .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 500px;
  overflow: scroll;
}

.container .content.nothing {
  margin: 20px;
}

.container .content.nothing span {
  font-size: 16px;
  font-weight: 600;
}
