<form [formGroup]="genderAgeForm" (ngSubmit)="updateGenderAge()">
  <mat-form-field color="accent">
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      @for (gender of genders; track gender) {
      <mat-option [value]="gender">{{ gender }}</mat-option>
      }
    </mat-select>
    @if (genderAgeForm.get('gender')!.hasError('required')) {
    <mat-error>Gender is required</mat-error>
    }
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>Gender Search</mat-label>
    <mat-select formControlName="genderSearch">
      @for (gender of genders; track gender) {
      <mat-option [value]="gender">{{ gender }}</mat-option>
      }
    </mat-select>
    @if (genderAgeForm.get('genderSearch')!.hasError('required')) {
    <mat-error>Gender Search is required</mat-error>
    }
  </mat-form-field>
  <div class="slide-container">
    <span>Age</span>
    <mat-slider min="18" max="80" discrete>
      <input matSliderStartThumb formControlName="minAge" />
      <input matSliderEndThumb formControlName="maxAge" />
    </mat-slider>
  </div>
  <div class="button-container">
    <button
      *ngIf="genderAgeForm.dirty"
      type="button"
      title="Cancel"
      (click)="cancel()"
    >
      Cancel
    </button>
    <button
      title="Update"
      *ngIf="genderAgeForm.valid && genderAgeForm.dirty"
      type="submit"
    >
      Update
    </button>
  </div>
</form>
