.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 700px;
}

::ng-deep .container .mat-expansion-panel {
  background: var(--glass-background);
  backdrop-filter: blur(2px);
}

::ng-deep .mat-expansion-panel-body {
  max-height: 550px;
  overflow-y: scroll;
}

::ng-deep .mat-expansion-panel-header.mat-expanded {
  backdrop-filter: blur(2px);
}

::ng-deep .mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
  backdrop-filter: none;
}

.container mat-panel-title i {
  font-size: 35px;
  color: var(--primary);
  margin-right: 10px;
}

.container mat-panel-title span {
  font-size: 17px;
  font-weight: 700;
  color: var(--primary);
}
