<div class="container">
  <mat-accordion>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="bx bx-image"></i>
          <span>Pictures</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-pictures
        [user]="user"
        (updateEvent)="updateUser($event)"
      ></app-pictures>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="bx bx-info-circle"></i>
          <span>Main Infos</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-main-infos
        [user]="user"
        (updateEvent)="updateUser($event)"
      ></app-main-infos>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="bx bx-male-female"></i>
          <span>Gender and Age</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-gender-age
        [user]="user"
        (updateEvent)="updateUser($event)"
      ></app-gender-age>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="bx bx-lock"></i>
          <span>Connection Infos</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-connection-infos
        [user]="user"
        (updateEvent)="updateUser($event)"
      ></app-connection-infos>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="bx bx-image"></i>
          <span>Description</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-description
        [user]="user"
        (updateEvent)="updateUser($event)"
      ></app-description>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="bx bx-heart"></i>
          <span>Preferences</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-preferences
        [user]="user"
        (updateEvent)="updateUser($event)"
      ></app-preferences>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="bx bxs-trash-alt"></i>
          <span>Delete Account</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-delete-account
        [user]="user"
        (deleteEvent)="deleteAccount()"
      ></app-delete-account>
    </mat-expansion-panel>
  </mat-accordion>
</div>
