<div
  class="container"
  [ngClass]="{ gold: !notification.seen }"
  [title]="notification.link === 'profile' ? 'Profile' : 'Match'"
>
  <div class="title-container">
    <div class="title">
      <i class="bx bxs-user" *ngIf="notification.link === 'profile'"></i>
      <i class="bx bxs-flame" *ngIf="notification.link === 'match'"></i>
      <i
        class="bx bxs-message-square-detail"
        *ngIf="notification.link !== 'match' && notification.link !== 'profile'"
      ></i>
      <span>{{ notification.link }}</span>
    </div>
    <span class="date">{{ notification.date | customDate }}</span>
  </div>
  <span class="content">{{ notification.content | description : 60 }}</span>
</div>
