.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(2px);
  margin: 5px;
  border-radius: 20px;
  overflow: hidden;
}

.container img {
  width: 60px;
  min-width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
  background-color: var(--primary);
}

.container .infos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .infos-container > * {
  margin: 4px 0;
}

.container .info {
  width: 170px;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  overflow: hidden;
}

.container .stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 170px;
}

.container .stats .stat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .stats .stat span {
  margin-right: 3px;
  font-size: 15px;
  font-weight: 700;
}

.container .stats .stat i {
  font-size: 20px;
}

.container .stats .stat i.gold {
  color: var(--liked);
}
