<app-header [title]="'More Info'"></app-header>
<div class="main-container">
    <div class="container">
        <div class="content">
            <a *ngIf="mode === 'select'" class="return" title="return" routerLink="/select" routerLinkActive="active"><i class='bx bx-arrow-back'></i></a>
            <a *ngIf="mode === 'like'" class="return" title="return" routerLink="/like" routerLinkActive="active"><i class='bx bx-arrow-back'></i></a>
            <a *ngIf="mode === 'match'" class="return" title="return" routerLink="/match" routerLinkActive="active"><i class='bx bx-arrow-back'></i></a>
            <a *ngIf="mode === 'admin'" class="return" title="return" routerLink="/admin" routerLinkActive="active"><i class='bx bx-arrow-back'></i></a>
            <a *ngIf="mode === 'select' || mode === 'like'" class="like" title="like" (click)="like(user)"><i class='bx bxs-like'></i></a>
            <a *ngIf="mode === 'match'" class="like" title="dislike" (click)="dislike(user)"><i class='bx bxs-dislike'></i></a>
            <a *ngIf="mode === 'admin'" class="like" title="delete" (click)="openDialog()"><i class='bx bx-x'></i></a>
            <div class="picture-container">
                <div class="pictures" >
                    <img [src]="picture.content" *ngFor="let picture of pictures">
                </div>
                <div class="no-picture" *ngIf="pictures.length === 0">
                    <img [src]="imagePath + 'No-Image.png'">
                </div>
            </div>
            <div class="user-form">
                <div class="user-form-text" *ngIf="user.nickname">{{user.nickname}}</div>
                <div class="user-form-text" *ngIf="user.nickname">{{user.birthDate | age}}</div>
                <div class="user-form-text" *ngIf="user.city">{{user.city}}</div>
                <div class="user-form-text" *ngIf="user.city">{{user.relationshipType}}</div>
                <div class="user-form-text" *ngIf="user.job">{{user.job}}</div>
                <div class="user-form-text" *ngIf="user.height">{{user.height}}</div>
                <div class="user-form-text" *ngIf="user.languages">{{user.languages}}</div>
                <div class="user-form-text" *ngIf="user.activities">{{user.activities}}</div>
                <div class="user-form-text" *ngIf="user.description">{{user.description}}</div>
                <mat-chip-listbox>
                    <mat-chip color="accent">
                        <i class='bx bxs-drink' matChipAvatar></i>
                        {{user.alcoholDrinking}}
                    </mat-chip>
                    <mat-chip color="accent">
                        <i class='bx bx-wind' matChipAvatar></i>
                        {{user.smokes}}
                    </mat-chip>
                    <mat-chip color="accent">
                        <i class='bx bx-dumbbell' matChipAvatar></i>
                        {{user.sportPractice}}
                    </mat-chip>
                    <mat-chip color="accent">
                        <i class='bx bx-child' matChipAvatar></i>
                        {{user.parenthood}}
                    </mat-chip>
                    <mat-chip color="accent">
                        <i class='bx bxs-joystick' matChipAvatar></i>
                        {{user.gamer}}
                    </mat-chip>
                    <mat-chip color="accent">
                        <i class='bx bxs-cat' matChipAvatar></i>
                        {{user.animals}}
                    </mat-chip>
                    <mat-chip color="accent">
                        <i class='bx bxs-layer' matChipAvatar></i>
                        {{user.organised}}
                    </mat-chip>
                    <mat-chip color="accent">
                        <i class='bx bxs-user-voice' matChipAvatar></i>
                        {{user.personality}}
                    </mat-chip>
                </mat-chip-listbox>
            </div>
        </div>
    </div>
</div>

<div class="loader-wrapper" id="loaderWrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>