<app-header [title]="'More Info'"></app-header>
<div class="main-container">
    <div class="container">
        <div class="content">
            <a *ngIf="mode === 'select'" class="return" title="return" routerLink="/select" routerLinkActive="active"><i class='bx bx-arrow-back'></i></a>
            <a *ngIf="mode === 'like'" class="return" title="return" routerLink="/like" routerLinkActive="active"><i class='bx bx-arrow-back'></i></a>
            <a *ngIf="mode === 'match'" class="return" title="return" routerLink="/match" routerLinkActive="active"><i class='bx bx-arrow-back'></i></a>
            <a *ngIf="mode === 'admin'" class="return" title="return" routerLink="/admin" routerLinkActive="active"><i class='bx bx-arrow-back'></i></a>
            <a *ngIf="mode === 'select' || mode === 'like'" class="like" title="like" (click)="like(user)"><i class='bx bxs-like'></i></a>
            <a *ngIf="mode === 'match'" class="like" title="dislike" (click)="dislike(user)"><i class='bx bxs-dislike'></i></a>
            <a *ngIf="mode === 'admin'" class="like" title="delete" (click)="openDialog()"><i class='bx bx-x'></i></a>
            <div class="picture-container">
                <div class="pictures" >
                    <img [src]="picture.content" *ngFor="let picture of pictures">
                </div>
                <div class="no-picture" *ngIf="pictures.length === 0">
                    <img [src]="imagePath + 'No-Image.png'">
                </div>
            </div>
            <div class="user-form">
                <div class="user-form-text" *ngIf="user.nickname">{{user.nickname}}</div>
                <div class="user-form-text" *ngIf="user.city">{{user.city}}</div>
                <div class="user-form-text" *ngIf="user.job">{{user.job}}</div>
                <div class="user-form-text" *ngIf="user.height">{{user.height}}</div>
                <div class="user-form-text" *ngIf="user.languages">{{user.languages}}</div>
                <div class="user-form-text" *ngIf="user.activities">{{user.activities}}</div>
                <div class="user-form-text" *ngIf="user.description">{{user.description}}</div>
                <div class="flex">
                    <div class="user-form-text" *ngIf="user.alcoholDrinking">{{user.alcoholDrinking}}</div>
                    <div class="user-form-text" *ngIf="user.smokes">{{user.smokes}}</div>
                </div>
                <div class="flex">
                    <div class="user-form-text" *ngIf="user.sportPractice">{{user.sportPractice}}</div>
                    <div class="user-form-text" *ngIf="user.parenthood">{{user.parenthood}}</div>
                </div>
                <div class="flex">
                    <div class="user-form-text" *ngIf="user.gamer">{{user.gamer}}</div>
                    <div class="user-form-text" *ngIf="user.animals">{{user.animals}}</div>
                </div>
                <div class="flex">
                    <div class="user-form-text" *ngIf="user.organised">{{user.organised}}</div>
                    <div class="user-form-text" *ngIf="user.personality">{{user.personality}}</div>
                 </div>
            </div>
        </div>
    </div>
</div>