<a
  routerLink="select"
  routerLinkActive="active"
  title="Select"
  (click)="toggleMenu()"
  >
  <i class="bx bx-search"></i>
  <span>Select</span>
</a>
<a
  routerLink="profile"
  routerLinkActive="active"
  title="Profile"
  (click)="toggleMenu()"
  >
  <i class="bx bxs-user"></i>
  <span>Profile</span>
</a>
<a
  routerLink="match"
  routerLinkActive="active"
  title="Match"
  (click)="toggleMenu()"
  >
  <i class="bx bxs-flame"></i>
  <span>Match</span>
</a>
@if (hasAdminRole) {
  <a
    routerLink="admin"
    routerLinkActive="active"
    title="Admin"
    (click)="toggleMenu()"
    >
    <i class="bx bxs-key"></i>
    <span>Admin</span>
  </a>
}
<a title="Logout" (click)="logout()">
  <i class="bx bxs-log-out"></i>
  <span>Logout</span>
</a>
