:root {
  --background: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
  --glass-background: rgba(0, 0, 0, 0.5);
  --primary: white;
  --secondary: black;
  --liked: gold;
  --error: red;
  --disabled: grey;

  /* Swiper JS */
  --swiper-preloader-color: var(--primary);
  --swiper-navigation-color: var(--primary);
  --swiper-pagination-color: var(--primary);

  /* Angular Material */
  --mat-stepper-container-color: transparent;
  --mat-stepper-header-selected-state-label-text-color: var(--primary);
  --mat-stepper-header-selected-state-icon-background-color: var(--primary);
  --mat-stepper-header-selected-state-icon-foreground-color: var(--secondary);
  --mat-stepper-header-label-text-color: var(--secondary);
  --mat-stepper-line-color: var(--primary);
  --mat-stepper-header-edit-state-icon-background-color: var(--primary);
  --mat-stepper-header-edit-state-icon-foreground-color: var(--secondary);
  --mat-stepper-header-done-state-icon-background-color: var(--primary);
  --mat-stepper-header-done-state-icon-foreground-color: var(--secondary);
  --mdc-filled-text-field-disabled-container-color: transparent;
  --mdc-filled-text-field-disabled-input-text-color: var(--primary);
  --mdc-slider-inactive-track-color: var(--secondary);
  --mdc-slider-active-track-color: var(--primary);
  --mdc-slider-handle-color: var(--primary);
  --mdc-slider-focus-handle-color: var(--primary);
  --mat-slider-focus-state-layer-color: rgba(185, 185, 185, 0.2);
  --mat-expansion-container-background-color: transparent;
  --mat-expansion-container-shape: 20px;
  --mdc-checkbox-selected-checkmark-color: var(--secondary);
  --mdc-checkbox-selected-icon-color: var(--primary);
  --mdc-checkbox-selected-focus-icon-color: var(--primary);
  --mdc-checkbox-selected-pressed-icon-color: var(--primary);
  --mdc-checkbox-selected-hover-icon-color: var(--primary);
  --mdc-checkbox-selected-focus-state-layer-color: var(--primary);
  --mdc-checkbox-selected-pressed-state-layer-color: var(--primary);
  --mdc-filled-text-field-container-color: var(--glass-background);
  --mdc-filled-text-field-label-text-color: var(--primary);
  --mdc-filled-text-field-hover-label-text-color: var(--primary);
  --mdc-filled-text-field-input-text-color: var(--primary);
  --mat-datepicker-toggle-icon-color: var(--primary);
}

html,
body {
  height: 100vh;
  height: 100dvh;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background);
  color: var(--primary);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.toast-container .ngx-toastr.custom {
  box-shadow: none;
  border-radius: 10px;
  background-color: var(--glass-background);
}

.toast-container .ngx-toastr.custom.gold {
  background-color: goldenrod;
}

.toast-container .ngx-toastr.custom.error {
  background-color: var(--error);
}
