:root {
    --invalid: #ff0000;
    --valid: #0fff00;
    --background: #ffffff;
    --scrollbar: black;
}

body { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

::-webkit-scrollbar {
    display: none;
}