<div class="title">
  <i class="bx bx-search"></i>
  <span>Select</span>
</div>
<div class="content">
  <span class="text">
    Swipe, like or dislike profiles. If like button is gold, it means that this
    person has already liked you. Like back to get a match !
  </span>
  @if (images && images.length !== 0) {
    <swiper-container
      effect="cards"
      mousewheel="true"
      (swiperslidechange)="onSlideChange()"
      >
      @for (image of images; track image) {
        <swiper-slide lazy="true">
          <app-card-demo
            loading="true"
            [image]="image"
            [display]="isCurrentView(image)"
            (likeEvent)="like(image)"
            (dislikeEvent)="dislike(image)"
          ></app-card-demo>
        </swiper-slide>
      }
    </swiper-container>
  }
</div>
