<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
  <mat-stepper
    orientation="vertical"
    [linear]="true"
    #stepper
    background="none"
  >
    <mat-step [stepControl]="firstFormGroup" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Main Infos</ng-template>
      <input placeholder="Nickname" formControlName="nickname" />
      <span
        *ngIf="
          firstFormGroup.get('nickname')!.hasError('required') &&
          firstFormGroup.get('nickname')!.touched
        "
        >Nickname is required</span
      >
      <span *ngIf="firstFormGroup.get('nickname')!.hasError('maxlength')"
        >Nickname is too long</span
      >
      <span *ngIf="firstFormGroup.get('nickname')!.hasError('minlength')"
        >Nickname is too short</span
      >
      <input placeholder="Job" formControlName="job" />
      <span
        *ngIf="
          firstFormGroup.get('job')!.hasError('required') &&
          firstFormGroup.get('job')!.touched
        "
        >Job is required</span
      >
      <span *ngIf="firstFormGroup.get('job')!.hasError('minlength')"
        >Job is too short</span
      >
      <span *ngIf="firstFormGroup.get('job')!.hasError('maxlength')"
        >Job is too long</span
      >
      <input placeholder="City" formControlName="city" />
      <span
        *ngIf="
          firstFormGroup.get('city')!.hasError('required') &&
          firstFormGroup.get('city')!.touched
        "
        >City is required</span
      >
      <span *ngIf="firstFormGroup.get('city')!.hasError('minlength')"
        >City is too short</span
      >
      <span *ngIf="firstFormGroup.get('city')!.hasError('maxlength')"
        >City is too long</span
      >
      <mat-form-field>
        <mat-label>Birth Date</mat-label>
        <input
          class="date"
          matInput
          [matDatepicker]="picker"
          disabled
          [max]="minDate"
          (dateInput)="addBirthDate($event)"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #picker
          color="accent"
          [startAt]="startDate"
          disabled="false"
        ></mat-datepicker>
      </mat-form-field>
      <span *ngIf="!birthDateExists">Birth Date is required</span>
    </mat-step>
    <mat-step
      [stepControl]="secondFormGroup"
      [formGroup]="secondFormGroup"
      [state]="firstFormGroup.valid && birthDateExists ? 'number' : 'disabled'"
    >
      <ng-template matStepLabel>Gender and Age</ng-template>
      <select formControlName="gender">
        <option value="" disabled selected hidden>Gender</option>
        <option [value]="gender" *ngFor="let gender of genders">
          {{ gender }}
        </option>
      </select>
      <span
        *ngIf="
          secondFormGroup.get('gender')!.hasError('required') &&
          secondFormGroup.get('gender')!.touched
        "
        >Gender is required</span
      >
      <select formControlName="genderSearch">
        <option value="" disabled selected hidden>Gender Search</option>
        <option [value]="gender" *ngFor="let gender of genders">
          {{ gender }}
        </option>
      </select>
      <span
        *ngIf="
          secondFormGroup.get('genderSearch')!.hasError('required') &&
          secondFormGroup.get('genderSearch')!.touched
        "
        >Gender Search is required</span
      >
      <div class="age-container">
        <span>Age</span>
        <mat-slider min="18" max="80" discrete>
          <input matSliderStartThumb formControlName="minAge" />
          <input matSliderEndThumb formControlName="maxAge" />
        </mat-slider>
      </div>
    </mat-step>
    <mat-step
      [stepControl]="thirdFormGroup"
      [formGroup]="thirdFormGroup"
      [state]="secondFormGroup.valid ? 'number' : 'disabled'"
    >
      <ng-template matStepLabel>Connection Infos</ng-template>
      <input placeholder="Email" formControlName="email" />
      <span
        *ngIf="
          thirdFormGroup.get('email')!.hasError('required') &&
          thirdFormGroup.get('email')!.touched
        "
        >Email is required</span
      >
      <span *ngIf="thirdFormGroup.get('email')!.hasError('email')"
        >Email is invalid</span
      >
      <span *ngIf="thirdFormGroup.get('email')!.hasError('maxlength')"
        >Email is too long</span
      >
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <span
        *ngIf="
          thirdFormGroup.get('password')!.hasError('required') &&
          thirdFormGroup.get('password')!.touched
        "
        >Password is required</span
      >
      <span *ngIf="thirdFormGroup.get('password')!.hasError('minlength')"
        >Password is too short</span
      >
      <span *ngIf="thirdFormGroup.get('password')!.hasError('maxlength')"
        >Password is too long</span
      >
      <input
        type="password"
        placeholder="Password Confirmation"
        formControlName="passwordDuplicate"
      />
      <span
        *ngIf="
          thirdFormGroup.get('passwordDuplicate')!.hasError('required') &&
          thirdFormGroup.get('passwordDuplicate')!.touched
        "
        >Password is required</span
      >
      <span
        *ngIf="thirdFormGroup.get('passwordDuplicate')!.hasError('minlength')"
        >Password is too short</span
      >
      <span
        *ngIf="thirdFormGroup.get('passwordDuplicate')!.hasError('maxlength')"
        >Password is too long</span
      >
      <span
        *ngIf="
          thirdFormGroup.get('password')!.valid &&
          thirdFormGroup.get('passwordDuplicate')!.valid &&
          thirdFormGroup.get('password')?.value !==
            thirdFormGroup.get('passwordDuplicate')?.value
        "
        >Passwords don't match</span
      >
      <div class="button-container">
        <button
          title="Register"
          *ngIf="
            registerForm.valid &&
            birthDateExists &&
            thirdFormGroup.get('password')?.value ===
              thirdFormGroup.get('passwordDuplicate')?.value
          "
          type="submit"
        >
          Register
        </button>
      </div>
    </mat-step>
    <ng-template matStepperIcon="disabled">
      <i class="bx bx-block"></i>
    </ng-template>
  </mat-stepper>
</form>
