<app-header [title]="'Select'"></app-header>
<div class="main-container">
    <div class="container">
        <div class="content" *ngFor="let user of users">
            <a class="like" title="like" (click)="like(user)"><i class='bx bxs-like'></i></a>
            <div class="card">
                <img [src]="getImage(user)" [alt]="user?.nickname">
                <div class="text">
                    <div class="flex">
                        <div class="left">
                            <h2>{{user?.nickname}}</h2>
                            <h3>{{user?.job}}</h3>
                        </div>
                        <div class="right">
                            <h4>{{getAge(user)}}</h4>
                            <h5>{{user.city}}</h5>
                        </div>
                    </div>
                    <p class="description">{{getDescription(user)}}</p>
                    <a class="more" title="more info" routerLink="">More Info</a>
                </div>
            </div>
        </div>
    </div>
</div>