form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chip-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

::ng-deep .chip-container .mdc-evolution-chip-set__chips {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chip-container span {
  font-size: 15px;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 10px;
}

::ng-deep .mat-mdc-standard-chip.mat-primary {
  --mat-chip-elevated-container-color: var(--glass-background);
  backdrop-filter: blur(2px);
}

::ng-deep .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary,
.mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-primary {
  --mat-chip-elevated-container-color: var(--primary);
}

::ng-deep .mat-mdc-chip-focus-overlay {
  --mat-chip-focus-state-layer-color: var(--primary);
}

::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__icon--primary {
  --mat-chip-with-icon-icon-color: var(--primary);
}

::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__checkmark {
  --mat-chip-with-icon-selected-icon-color: var(--secondary);
}

::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__text-label {
  --mat-chip-label-text-color: var(--primary);
}

::ng-deep
  .mat-mdc-standard-chip.mat-mdc-chip-selected
  .mdc-evolution-chip__text-label {
  --mat-chip-label-text-color: var(--secondary);
}

form .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form .button-container button {
  border: none;
  background-color: var(--glass-background);
  cursor: pointer;
  text-decoration: none;
  color: var(--primary);
  padding: 15px 30px;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s ease;
  backdrop-filter: blur(2px);
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

form .button-container button::before {
  content: "";
  position: absolute;
  background-color: var(--primary);
  height: 0%;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s ease;
  z-index: -1;
}

form .button-container button:hover::before {
  height: 100%;
  border-radius: 10px;
}

form .button-container button:hover {
  color: var(--secondary);
}
