<div class="nav">
  <div class="buttons">
    <a title="select" routerLink="/select" routerLinkActive="active-link">
      <i class="bx bx-search"></i>
      <span>Select</span>
    </a>
    <a title="profile" routerLink="/profile" routerLinkActive="active-link">
      <i class="bx bxs-user"></i>
      <span>Profile</span>
    </a>
    <a title="like" routerLink="/like" routerLinkActive="active-link">
      <i class="bx bxs-like"></i>
      <span>Like</span>
    </a>
    <a title="match" routerLink="/match" routerLinkActive="active-link">
      <i class="bx bxs-flame"></i>
      <span>Match</span>
    </a>
    <a
      title="admin"
      routerLink="/admin"
      routerLinkActive="active-link"
      *ngIf="isAdmin"
    >
      <i class="bx bxs-key"></i>
      <span>Admin</span>
    </a>
    <a title="logout" (click)="logout()">
      <i class="bx bxs-log-out"></i>
      <span>Logout</span>
    </a>
  </div>
  <div class="menu">
    <a title="menu" (click)="extend()" class="menu-link"
      ><i class="bx bx-menu"></i
    ></a>
  </div>
</div>
