<div class="container" title="More Info" (click)="moreInfo()">
  <img
    [src]="user.pictures[0].content"
    [alt]="user.nickname"
    *ngIf="user.pictures && user.pictures.length !== 0"
  />
  <img
    [src]="imagePath + 'No-Image.png'"
    [alt]="user.nickname"
    *ngIf="!user.pictures || user.pictures.length === 0"
  />
  <div class="infos-container">
    <span class="info">{{ user.email | description : 19 }}</span>
    <div class="stats">
      <div class="stat">
        <span>{{ user.stats?.totalDislikes }}</span>
        <i class="bx bxs-dislike"></i>
      </div>
      <div class="stat">
        <span>{{ user.stats?.totalLikes }}</span>
        <i class="bx bxs-like"></i>
      </div>
      <div class="stat">
        <span>{{ user.stats?.totalMatches }}</span>
        <i class="bx bxs-flame gold"></i>
      </div>
    </div>
    <span class="info">{{ user.registeredDate! | customDate }}</span>
  </div>
</div>
